body{
	background-color:#355e3b;
}
#potval{
	height: 200px;
	width:200px;
	border:solid 1px white;
}
#top{
	margin:auto;
	height:100px;
	width:1000px;
	border:solid 1px white;
}
#top{
	margin:auto;
	height:100px;
	width:1000px;
	border:solid 1px white;
}
#player1Hand{
	float:left;
	height:100px;
	width:200px;
	border:solid 1px white;
}
#player2Hand{
	float:left;
	height:100px;
	width:200px;
	border:solid 1px white;
}
#player3Hand{
	float:left;
	height:100px;
	width:200px;
	border:solid 1px white;
}
#player4Hand{
	float:left;
	height:100px;
	width:200px;
	border:solid 1px white;
}
#player5Hand{
	float:left;
	height:100px;
	width:200px;
	border:solid 1px white;
}
#player6Hand{
	float:left;
	height:100px;
	width:200px;
	border:solid 1px white;
}
#player7Hand{
	float:left;
	height:100px;
	width:200px;
	border:solid 1px white;

}#player0Hand{
	float:left;
	height:100px;
	width:200px;
	border:solid 1px white;
}
#burnBoardDisp{
	margin:auto;
	height:100px;
	width:300px;
	border:solid 1px white;
}
#boardDisp{
	margin:auto;
	height:100px;
	width:600px;
	border:solid 1px white;
}
#turn{
	margin:auto;
	height:100px;
	width:100px;
	border:solid 1px white;
	color:red;
}

img{
	height:75px;
	width:50px;
}
